

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="https://www.python.org/" target="_blank"><span><img src={{url_for('static', filename="python.ico")}} height=30px width=30px></span>The Python Blog</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">All Posts<span class="sr-only">(current)</span></a>
        </li>
        
          {% if session['logged_in'] %}
          <li class="nav-item">
          <a class="nav-link" id="dashboard" href="/user/{{session['username']}}">Dashboard</a>
          </li>
          {% endif %}
          {% if session['logged_in'] %}
          <li class="nav-item">
          <a class="nav-link" id="logout" href="/logout">Logout</a>
          </li>
          {% endif %}
          {% if not session['logged_in'] %}
          <li class="nav-item">
          <a class="nav-link" id="login" href="#">Login</a>
          </li>
          {% endif %}
        <!-- <form class="form-inline">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    
      </ul>
    </div>
  </nav>
  
