{% extends 'base.html' %}


{% block sub_content %}



{% if posts%}


<div class="container-fluid">
    <h3 class="text-center">There are some that call me ... {{session['firstname']}}.</h3>
    <br><br>
    
{% with messages = get_flashed_messages() %}
{% if messages %}
  <div>
  {% for message in messages %}
    <h4 class="text-danger text-center">{{ message }}</h4>
  {% endfor %}
    </div>
{% endif %}
{% endwith %}

    <div class="row">      
      <div class="col-5 offset-1 mb-1">
            <h2>You have {{count}} posts, Ni!</h2>
        {% for post in posts %}
  <div role="tablist mb-2">
    <div class="card">
      <div class="card-header bg-primary text-white" role="tab">
        <h5 class="mb-0" id={{post.postid}}title>            
            {{post.title}}          
        </h5>
      </div>
  
      <div>
        <div class="card-body" id={{post.postid}}body >
            {{post.body}}
        <div class="text-danger font-italic">
          {{post.date}}
        </div>
        <button type="button" class="btn btn-warning edit" data-id={{post.postid}} data-title={{post.title}} data-body={{post.body}}>Edit</button>
        <button type="button" class="btn btn-danger delete" data-id={{post.postid}}>Delete</button>
        </div>
    
      </div>
    </div>

  </div>
  {% endfor %}
      </div>
      {% endif %}
      <div class="col-5">
        <h2>Create a ni post:</h2>

        <form role="form" action="/user/{{session['username']}}" method="POST">
                <div class="form-group">
                  <label for="formGroupExampleInput">Title</label>
                  <input type="text" class="form-control" id="postInput" name="title" placeholder="Title" required>
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Body</label>
                  <input type="text" class="form-control" id="postBody" name="body" rows="5" placeholder="Body" required>
                </div>
                    <button type="submit" class="btn btn-primary mb-2" method="POST">Submit</button>
                </form>
              

      </div>
    
    </div>

</div>





{% endblock %}


