{% extends 'base.html' %}


{% block sub_content %}






<div class="container-fluid">
    <h3 class="text-center">There are some that call me ... {{session['firstname']}}.</h3>
    <br><br>
    
{% with messages = get_flashed_messages() %}
{% if messages %}
  <div>
  {% for message in messages %}
    <h4 class="text-danger text-center">{{ message }}</h4>
  {% endfor %}
    </div>
{% endif %}
{% endwith %}

{% if posts %}
    <div class="row">      
      <div class="col-5 offset-1 mb-1">
            <h2>You have {{count}} posts, Ni!</h2>
        {% for post in posts %}
  <div role="tablist">
    <div class="card mb-2">
      <div class="card-header bg-primary text-white" role="tab">
        <h5 class="mb-0" id={{post.postid}}title>            
            {{post.title}}          
        </h5>
      </div>
  
      <div>
        <div class="card-body" id={{post.postid}}body >
            {{post.body}}
        <div class="text-danger font-italic">
          {{post.date}}
        </div>
        <button type="button" class="btn btn-warning edit" data-id={{post.postid}} data-title={{post.title}} data-body={{post.body}}>Edit</button>
        <button type="button" class="btn btn-danger delete" data-id={{post.postid}}>Delete</button>
        </div>
    
      </div>
    </div>

  </div>
  {% endfor %}
      </div>
      {% endif %}
      

      {% if not posts %}
      <div class="row">      
        
        <div class="col-5 offset-1 mb-1">
              <h2>You have ni posts</h2>
    <div role="tablist mb-2">
      <div class="card">
        <div class="card-header bg-primary text-white" role="tab">
          <h5 class="mb-0">            
              You should make a post         
          </h5>
        </div>
    
        <div>
          <div class="card-body">
              What have the Romans ever done for us?
       
          </div>
      
        </div>
      </div>
    </div>
    </div>

      {% endif %}

      <div class="col-5">
        <h2>Create a ni post:</h2>

        <form role="form" action="/user/{{session['username']}}" method="POST">
                <div class="form-group">
               
                  <h4>Title:</h4>
                  <textarea rows="2" cols="50" name="title" maxlength="100" placeholder="Less than 100 characters..." required></textarea>
         
                </div>
                <div class="form-group">
               
                  <h4>Body:</h4>
                  <textarea rows="5" cols="50" name="body" maxlength="1000" placeholder="Less than 1000 characters..." required></textarea>
                </div>
                    <button type="submit" class="btn btn-primary mb-2" method="POST">Submit</button>
                </form>
              

      </div>
    
    </div>

</div>





{% endblock %}


